
a {
	text-decoration:none;
	color:#000;
}
p {
	margin:0px;
	padding:0px;
}
/*Styles for java demo page */
	.fixed-top-2 {
				margin-top: 55px;
			}

	article {
		min-height:100vh;
	 }
	 article {
		padding-top:95px;
	 }
	#prepare-navigation li:nth-child(3n+1),#main article:nth-child(3n+1) {
		background: rgb(0,180,255);
	}
	#prepare-navigation li:nth-child(3n+2),#main article:nth-child(3n+2) {
		background: rgb(255, 65, 180);
	}
	#prepare-navigation li:nth-child(3n+3),#main article:nth-child(3n+3) {
		background: rgb(247,177,0);
	}
	#prepare-navigation li {
			margin-right: 8px;
			padding: 4px;
			border-radius: 5px;
	}
	.cssMainTitle {
		font-size: xx-large;
	}
	.cssextJSExample {
		height: 70vh;
	}
/* End of styles of java demo page */

/* style for index page */
.cssAboutMe
{
	position: absolute;
	bottom: 0px;
	background: #000;
	color:#FFF;
	height: 30vh;
	z-index: 10000;
	opacity: .7;
	font:14px 'Rock Salt', serif;
	
}

.cssAboutMe1
{
	position: absolute;
	bottom: 0px;
	background: #000;
	color:#FFF;
	height: 50px;
	z-index: 10000;
	opacity: .5;
	padding-left:20%;
	padding-right:10%;
	display:none;
}

.cssWelcomeMessage {
	position: absolute;
	margin:auto;
	top: 40vh;
	z-index:10;
	color:white;
}


.buttonnext, .buttonprev {
position: absolute;
display: block;
width: 47px;
height: 47px;
background: url(../Imagenes/prevnext.png);
border-radius:50%;
margin-top: -10px;
margin-left: -70px;
}
.buttonprev {
background-position: bottom;
}
.buttonnext {
background-position: top;
}
.buttonup, .buttondown {
display: block;
width: 47px;
height: 47px;
background: url(../Imagenes/updown.png);
border-radius:50%;
}
.buttonup {
left: 0px;
background-position: left;
}
.buttondown {
right: 0px;
background-position: right;
}

.buttondown:hover, .buttonup:hover,.buttonnext:hover, .buttonprev:hover{
	background-color: #666;
	cursor:pointer;
}

/* end of styles for index page */

.cssBrilla:hover{
	text-shadow: 0 0 3px #fff,
                   0 0 6px #fff;
}

.blink {
    -webkit-animation-name: blinker;
    -webkit-animation-duration: 1s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;

    -moz-animation-name: blinker;
    -moz-animation-duration: 1s;
    -moz-animation-timing-function: linear;
    -moz-animation-iteration-count: infinite;

    animation-name: blinker;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@-moz-keyframes blinker {  
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
}

@-webkit-keyframes blinker {  
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
}

@keyframes blinker {  
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
}

