	.explain-event {
		display:none;
	}
	.cssRemove {
		position: absolute;
		top: -1px;
		right: -1px;
		border-radius: 4px;
		height:16px;
	}
	.cssRemove.ui-state-error {
		border:0px;
	}


		
	#external-events {
		width: 150px;
		margin: 10px;
		padding: 0 10px;
		border: 1px solid #ccc;
		background: #eee;
		text-align: left;
		min-height:50%;
		}
		
	#external-events h4 {
		font-size: 16px;
		margin-top: 0;
		padding-top: 1em;
		}
		
	.external-event { /* try to mimick the look of a real event */
		margin: 10px 0;
		padding: 2px 4px;
		background: #3366CC;
		color: #fff;
		font-size: .85em;
		cursor: pointer;
		border-radius: 5px;
		}
		
	#external-events p {
		margin: 1.5em 0;
		font-size: 11px;
		color: #666;
		}
		
	#external-events p input {
		margin: 0;
		vertical-align: middle;
		}

	#calendar {
		border-radius: 10px;
		padding:5px;
		background: #EEEEFF;
		
		}
	.CssWarningDay {
		background: #FFE594 !important;
	}		
	.CssOkDay {
		background: #B0FFB0 !important;
	}
	.CssErrorDay, tr.fc-week> .fc-past, td.fc-past  {
		background: #FFC2C2;
	}

	tr.fc-week> .fc-sat, tr.fc-week> .fc-sun {
		background: #FFFFFF;
	}